.blue {
  background: linear-gradient(rgb(11, 58, 151), rgb(17,85,221)) !important;
}
.purple {
  background: linear-gradient(rgb(136,71,255),rgb(88, 34, 189)) !important;
}
.pink {
  background: linear-gradient(rgb(211,44,230),rgb(152, 26, 167)) !important;
}
.gold {
  color: black !important;
  background: linear-gradient(rgb(255, 218, 8), rgb(246, 181, 0)) !important;
}