.bs, .BS, .five {
  color: rgb(250, 0, 0);
}

.ww, .WW, .ten {
  color: rgb(255, 145, 0);
}

.ft, .FT, .fifteen {
  color: rgb(255, 251, 0);
}

.mw, .MW, .twenty {
  color: rgb(164, 255, 90);
}

.fn, .FN, .fifty {
  color: rgb(0, 255, 76);
}