.bs, .BS {
  color: rgb(250, 0, 0);
}

.ww, .WW {
  color: rgb(255, 145, 0);
}

.ft, .FT {
  color: rgb(255, 251, 0);
}

.mw, .MW {
  color: rgb(164, 255, 90);
}

.fn, .FN {
  color: rgb(0, 255, 76);
}