.mil_spec {
  background: linear-gradient(rgb(11, 58, 151), rgb(17,85,221));
}
.restricted {
  background: linear-gradient(rgb(136,71,255),rgb(88, 34, 189));
}
.classified {
  background: linear-gradient(rgb(211,44,230),rgb(152, 26, 167));
}
.covert {
  background: linear-gradient(rgb(235,75,75),rgb(155, 27, 27));
}
.exceedingly_rare {
  background: linear-gradient(rgb(202,171,5),rgb(206, 152, 4));
}